<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <form class="form" action="<%= downloads_path %>" method="post">
      <div class="form-group">
        <label for="video_url">Video URL: </label>
        <input type="text" class="form-control" name="video_url" id="video_url">
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>